DATABASE_URL=
BLOB_READ_WRITE_TOKEN=
CRON_SECRET=

SHELBY_DRIVER=shelby
SHELBY_NETWORK=shelbynet
SHELBY_API_URL=
SHELBY_API_KEY=
SHELBY_ACCOUNT_PRIVATE_KEY=
SHELBY_LOCATION=shelbynet-1

AUTH_SESSION_SECRET=

PAYMENT_VAULT_CONTRACT_ADDRESS=
PAYMENT_VAULT_OWNER_ADDRESS=
PAYMENT_VAULT_OPERATOR_PRIVATE_KEY=

APP_BASE_URL=http://localhost:3000
